<nav class="navbar navbar-dark navbar-expand-sm">
    <a class="navbar-brand" routerLink="/home">
      <img src="assets/img/homepage/LapizLogoGrande.png" alt="logo">
      MyTasks
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-list-2" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar-list-2">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a *ngIf="currentUser" class="nav-link" routerLink="/home" routerLinkActive="active">Proyectos<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a *ngIf="currentUser" class="nav-link" routerLink="/home" routerLinkActive="active">Mi perfil<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a *ngIf="currentUser" class="nav-link" routerLink="/home" routerLinkActive="active">Calendario<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a *ngIf="!currentUser" class="nav-link" (click)="openModalSignup()" routerLinkActive="active">Registrar</a>
        </li>
        <li class="nav-item">
          <a *ngIf="currentUser" (click)="logout()" class="nav-link " >cerrar sesión</a>
        </li>
      </ul>
    </div>
  </nav>
