
<button type="button" class="btn btn-primary">
    Agregar
</button>
<div *ngIf="!tasks">
    Cargando listado de productos...
</div>
<div *ngIf="tasks">
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>CÓDIGO</th>
                    <th>NOMBRE</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    
                </tr>
            </tbody>
        </table>
    </div>
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let task of tasks">
            <strong>{{task.name}}</strong>
            <strong>{{task.code}}</strong>
        </li>
    </ul>
</div>
