<section class="tasks-module">
    <button (click)="openModalCreateTask()" type="button" class="btn btn-primary">
        Agregar
    </button>
    <hr>
    <div *ngIf="(tasks | async)?.length === 0">
        No hay tareas registradas.
    </div>
    <div *ngIf="(tasks | async)?.length > 0">
        <div class="filter-wrap input-group">
            <input [(ngModel)]="searchText" placeholder="Filtrar tareas" class="form-control py-2 border-right-0 border" id="searchTaskText">
            <span class="input-group-append" *ngIf="searchText.length>0" (click)="clearFilter()">
                <button class="btn btn-outline-secondary" type="button" id="button-remove">Borrar</button>
            </span>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th>NOMBRE</th>
                        <th>PROYECTO</th>
                        <th>FECHA LIMITE</th>
                        <th>COMENTARIO</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks | filter : searchText | async" (click)="routeToTaskDetails()">
                        <td>{{task.name}}</td>
                        <td>{{task.project.name}}</td>
                        <td>{{task.deadline}}</td>
                        <td>{{task.comment}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
